:root {
  /* Fonts */
  --ff-primary: Lora, serif;
  --ff-secondary: Junge, serif;
  --ff-accent: Playfair Display, serif;
  --ff-button: Poly, serif;
  /* Colors */
  --primary-white-color: #fffaec;
  --primary-color--dark: #74511c;
  --primary-button-color: #be9e6d;
  --primary-button-highlight: #e2c8a2;
  --link-hover-color: #b1823b;
  --cart-overlay-color: rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}

body {
  background-color: var(--primary-white-color);
}

/* Remove vertical scrollbar */
body::-webkit-scrollbar {
  display: none;
}
/* This is styling for the welcome section header */
h1 {
  color: var(--primary-white-color);
  font-family: var(--ff-accent);
  font-size: 2.813rem;
  font-weight: 500;
  padding-bottom: 80px;
}
/* This is the styling for the headers for each section */
h2 {
  color: var(--primary-color--dark);
  font-family: var(--ff-primary);
  font-size: 30px;
  font-weight: 700;
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

/* This is the styling for the three headers in the footer section */
h3 {
  color: var(--primary-white-color);
  font-family: var(--ff-primary);
  font-size: 22px;
  font-weight: 500;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

/* Make images responsive */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Styling for the footer horizontal line */
hr {
  border: 1px solid var(--primary-white-color);
  width: 100%;
}

/************************************************************* Mobile Device Styling *************************************************/

/**************************Below is styling for the HEADER Section ***************************/
#header {
  background-color: var(--primary-white-color);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

/* Styling for the Logo */
#header-img {
  padding-top: 20px;
}

.logo-div {
  display: flex;
  justify-content: center;
}

/* Hamburger Menu Styling */
#hamburger {
  background-color: transparent;
  background-image: url(./Images/bars-solid.svg);
  background-repeat: no-repeat;
  border: 0;
  height: 2rem;
  left: 1rem;
  position: absolute;
  top: 1rem;
  width: 1.5rem;
}

#hamburger[aria-expanded="true"] {
  background-image: url(./Images/times-solid.svg);
}

#hamburger span,
.cart span {
  display: block;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  top: 0.2rem;
}

/* Navigation Bar Styling  */
.nav-link {
  color: var(--primary-color--dark);
  font-family: var(--ff-primary);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease-in;
}

.nav-link:hover {
  color: var(--link-hover-color);
}

/**************************Below is styling for the Shopping Cart ***************************/
#cart {
  background-color: transparent;
  background-image: url(./Images/cart-shopping-solid.svg);
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  height: 2rem;
  right: 1.2rem;
  position: absolute;
  top: 1.5rem;
  width: 1.3rem;
  z-index: 2;
}

#cart[aria-expanded="true"] {
  background-image: url(./Images/times-solid.svg);
}

.cart-overlay {
  background-color: var(--cart-overlay-color);
  height: 100vh;
  position: fixed;
  right: -100%;
  top: 0;
  width: 100vw;
}

.overlay-open {
  right: 0;
}

.cart-container {
  background-color: var(--primary-button-highlight);
  height: 100vh;
  position: fixed;
  right: -100%;
  top: 0;
  transition: 0.4s ease-out;
  width: 75%;
}

.cart-container[data-visible="true"] {
  right: 0;
}

.cart-header {
  font-size: 25px;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 30px;
  text-transform: capitalize;
}

.cart-row {
  align-items: center;
  column-gap: 0.75rem;
  display: grid;
  grid-template-columns: 32% 40% 15%;
  padding: 0 15px;
}

.cart-img {
  height: 100px;
  object-fit: contain;
  width: 100px;
}

.cart-details {
  display: grid;
  row-gap: 0.25rem;
}

.item-title,
.item-price,
.total-title,
.total-price {
  color: var(--primary-color--dark);
  font-family: var(--ff-primary);
  font-weight: 500;
}

.item-title {
  width: 120px;
}

.total-title {
  font-weight: 700;
  padding-right: 3px;
}

input[type="number"] {
  border: 1px solid var(--primary-color--dark);
  color: var(--primary-color--dark);
  outline-color: var(--link-hover-color);
  text-align: center;
  width: 2rem;
}

/* Styling for remove item button */
.remove-btn {
  background-color: transparent;
  border: 0;
  color: var(--primary-color--dark);
  cursor: pointer;
  font-size: 15px;
}

.cart-total {
  border-top: 1px solid var(--primary-color--dark);
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding-right: 12px;
  padding-top: 8px;
}

.purchase-btn {
  background-color: var(--primary-color--dark);
  border: solid 1px var(--primary-color--dark);
  color: var(--primary-white-color);
  display: flex;
  font-family: var(--ff-primary);
  font-size: 16px;
  margin: 30px auto 0 auto;
  padding: 12px 30px;
  text-transform: uppercase;
  transition: 0.2s ease-in;
}

/**************************Below is styling for the WELCOME Section ***************************/
#welcome {
  background-image: url(./Images/Mobile/Truffles-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  position: relative;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.hero-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.title-div {
  padding-top: 120px;
  text-align: center;
}

.title-btn {
  color: var(--primary-white-color);
  background-color: var(--primary-button-color);
  border: solid 1px var(--primary-button-color);
  border-radius: 10px;
  font-family: var(--ff-primary);
  font-size: 22px;
  padding: 15px 30px;
  transition: 0.2s ease-in;
}

.title-btn:hover {
  cursor: pointer;
  background-color: var(--primary-button-highlight);
  border: solid 1px var(--primary-button-highlight);
}

/**************************Below is styling for the ABOUT Section ***************************/

.cacao-img {
  aspect-ratio: 1 / 1.5;
  width: 100%;
  object-fit: contain;
}

.about-container {
  display: flex;
  flex-direction: column;
}

.about-box {
  display: flex;
  align-items: center;
  padding: 20px 10px 20px 8px;
}

.about-info {
  color: var(--primary-color--dark);
  font-family: var(--ff-secondary);
  font-size: 15px;
  line-height: 1.5;
}

.about-icons {
  color: var(--primary-color--dark);
  font-size: 35px;
  padding-right: 15px;
}

/******************************Below is styling for the PRODUCTS Section **************************/
#products {
  margin-bottom: 60px;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 25px;
}

.product-img {
  aspect-ratio: 1 / 0.7;
  width: 100%;
  object-fit: cover;
}

.product-details {
  background-color: var(--primary-button-highlight);
  text-align: center;
  padding: 18px 0;
}

.product-info {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.product-name,
.product-flavors,
.product-price {
  font-family: var(--ff-primary);
  color: var(--primary-color--dark);
}

.product-price {
  font-weight: 700;
  padding-left: 12px;
}

.product-flavors {
  font-size: 12px;
  padding: 5px 0 18px 0;
  margin: 0 15px;
}

.product-btn {
  background-color: var(--primary-color--dark);
  border: solid 1px var(--primary-color--dark);
  color: var(--primary-white-color);
  font-family: var(--ff-primary);
  font-size: 15px;
  padding: 10px 30px;
  transition: 0.2s ease-in;
}

.product-btn:hover,
.purchase-btn:hover {
  background-color: var(--primary-button-color);
  border: solid 1px var(--primary-button-color);
  cursor: pointer;
}

/************************Below is styling for the How It's Made Section ***********************/
.videoWrapper {
  height: 0;
  padding-bottom: 56.25%; /* Equals 16:9 */
  position: relative;
  width: 100%;
}

.videoWrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  /* z-index: 1; */
}

.video-details {
  color: var(--primary-color--dark);
  display: flex;
  font-family: var(--ff-secondary);
  font-size: 15px;
  justify-content: center;
  margin-top: 25px;
  padding-bottom: 25px;
}

/**************************Below is styling for the Footer Section **************************/

#footer {
  align-items: center;
  background-color: var(--primary-color--dark);
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 100vw;
}

/* Styling for Subscribe form box */
#form {
  width: 75vw;
}

#email {
  border: solid 2px var(--primary-white-color);
  color: var(--primary-color--dark);
  float: left;
  margin: 30px 0 30px 3px;
  padding: 10px;
}

label {
  color: var(--primary-white-color);
  font-family: var(--ff-secondary);
}

label,
input {
  display: flex;
  flex-direction: column;
}

#submit {
  background-color: var(--primary-button-color);
  border: solid 1px var(--primary-button-color);
  color: var(--primary-white-color);
  font-family: var(--ff-button);
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 9.5px 20px;
  transition: 0.4s ease;
}

#submit:hover {
  background-color: var(--primary-button-highlight);
  border: solid 1px var(var(--primary-button-highlight));
  cursor: pointer;
}

::placeholder {
  color: var(--primary-color--dark);
  font-family: var(--ff-button);
  opacity: 0.6;
  padding-left: 7px;
}

/* Styling for the Contact section in footer */
.contact-container {
  margin: 0 auto;
  text-align: center;
}

.contact-details {
  color: var(--primary-white-color);
  font-family: var(--ff-secondary);
  padding: 10px 0;
}

.contact-icons {
  margin-right: 5px;
}

/* Styling for the Social Media section in footer */
.socials-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 30px 0 18px 0;
}

.fa-socials {
  color: var(--primary-button-color);
  font-size: 25px;
  padding: 0 15px;
  transition: 0.2s ease;
}

.fa-socials:hover {
  color: var(--primary-button-highlight);
}

/* Styling for the footer credit */
.footer-credit {
  background-color: var(--primary-color--dark);
  color: var(--primary-white-color);
  font-family: var(--ff-secondary);
  font-size: 14px;
  padding: 22px 15% 2% 15%;
  text-align: center;
}

.footer-credit a {
  color: var(--primary-white-color);
  text-decoration: none;
  transition: 0.4s ease;
}

.footer-credit a:hover {
  color: var(--primary-button-highlight);
}

/*** Navigation Bar styling for Mobile ***/
@media screen and (max-width: 820px) {
  .nav-menu {
    background-color: var(--primary-white-color);
    left: -100%;
    position: fixed;
    text-align: center;
    top: 6.5rem;
    transition: 0.5s;
    width: 100%;
  }

  .nav-menu[data-visible="true"] {
    left: 0;
  }

  .nav-item {
    margin: 30px 0;
  }
}

/************************************************************* Tablet Styling *************************************************/
@media screen and (min-width: 768px) and (max-width: 820px) {


  #cart {
    right: 2rem;
    top: 2rem;
    width: 1.6rem;
  }

  .cart-container {
    width: 50%;
  }

  .cart-row {
    grid-template-columns: 30% 32% 38%;
  }

  .total-title,
  .total-price,
  .item-title,
  .item-price,
  .remove-btn {
    font-size: 18px;
  }

  .item-title {
    width: 130px;
  }

  .cacao-img {
    aspect-ratio: 1 / 1;
    margin: auto;
    width: 70%;
  }

  h1 {
    font-size: 3.313rem;
  }

  .about-box {
    padding-right: 20px;
  }

  .about-info-container {
    margin: auto;
    width: 80%;
  }

  .about-info {
    font-size: 16px;
  }

  .product-grid {
    justify-items: center;
  }

  .product-card {
    width: 70%;
  }

  .video-details {
    font-size: 18px;
  }

  .fa-socials {
    padding: 0 8px;
  }

  #footer {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #form {
    width: 500px;
  }

  #email {
    margin-left: 100px;
  }

  label {
    text-align: center;
  }
}

/************************************************************* Desktop Styling *************************************************/
@media screen and (min-width: 821px) {
  /* Navigation Bar Styling */
  #nav-bar {
    align-items: center;
    border-left-style: none;
    border-right-style: none;
    border: solid 1px var(--primary-color--dark);
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }

  .nav-menu {
    display: flex;
    list-style: none;
  }

  .nav-link {
    padding: 0 50px;
  }

  #hamburger {
    display: none;
  }

  /* Shopping cart styling */
  #cart {
    right: 2rem;
    top: 2rem;
    width: 1.6rem;
  }

  .cart-container {
    width: 35%;
  }

  .cart-row {
    grid-template-columns: 25% 38% 40%;
  }

  .item-title {
    width: 150px;
  }

  .item-title,
  .item-price {
    font-size: 20px;
  }

  input[type="number"] {
    font-size: 16px;
  }

  .remove-btn {
    font-size: 18px;
  }

  .total-title,
  .total-price {
    font-size: 20px;
  }

  .purchase-btn {
    font-size: 18px;
    padding: 12px 35px;
  }

  /* Welcome Section Styling */
  #welcome {
    background-image: url(./Images/Desktop/Truffles-1.jpg);
    height: 90vh;
  }

  h1 {
    font-size: 3.5rem;
  }
  .title-div {
    padding-top: 200px;
  }

  /* About Section Styling */
  .about-container {
    flex-direction: row-reverse;
  }

  .cacao-img {
    aspect-ratio: 1/1;
    width: 80%;
  }

  .about-info-container {
    padding-top: 50px;
    width: 50%;
  }

  .about-box {
    padding-right: 120px;
  }

  .about-info {
    font-size: 18px;
  }

  /* Product Section Styling */
  #products {
    margin-bottom: 150px;
  }

  .product-grid {
    gap: 2% 2%;
    grid-template-columns: 1fr 1fr;
    margin-left: 15%;
    width: 70%;
  }

  .product-flavors {
    font-size: 14px;
  }

  /* How its Made Section Styling */
  #how-its-made {
    margin: 0 auto;
    max-width: 600px;
  }

  .video-details {
    font-size: 20px;
  }

  /* Footer Section Styling */
  #footer {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #form {
    max-width: 310px;
  }

  h4 {
    margin: 0;
  }

  .subscribe-container {
    margin-left: 20px;
    /* margin-right: 90px; */
  }

  .email-add {
    width: 240px;
  }

  .contact-container {
    margin: 0;
  }

  .socials-container {
    margin-top: 0;
  }

  .fa-socials {
    font-size: 30px;
  }
}
